# dapp dependencies
/dapp/node_modules
/dapp/.pnp
/dapp/.pnp.js

# dapp testing
/dapp/coverage
/dapp/__tests_results__/
/dapp/playwright-report/
/dapp/playwright/.cache/

# dapp next.js
/dapp/.next/
/dapp/out/

# dapp production
/dapp/build

# dapp misc
/dapp/.DS_Store
/dapp/*.pem

# dapp debug
/dapp/npm-debug.log*
/dapp/yarn-debug.log*
/dapp/yarn-error.log*
/dapp/.pnpm-debug.log*

# dapp local env files
/dapp/.env

# dapp vercel
/dapp/.vercel

# dapp typescript
/dapp/*.tsbuildinfo
/dapp/next-env.d.ts
